* {
  margin: 0px;
  padding: 0px;
}

:root {
  background-color: #F5F4F0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333333;
}

#page {
  width: 1120px;
  box-sizing: border-box;
  padding: 40px;
  margin: 0px auto;
}

img {
  margin-bottom: 24px;
  border-radius: 28px;
  width: 100%;
}

h1 {
  font-size: 36px;
  color: #1B1B1B;
  font-weight: bold;
  margin-top: 8px;
}

h2 {
  font-size: 32px;
  color: #1B1B1B;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  color: #1B1B1B;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 8px;
}

.headline {
  color: #E1624F;
  font-weight: bold;
  text-transform: uppercase;
}

section>p {
  font-style: italic;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

#description {
  margin: 24px 0px;
}

#content_list {
  margin: 64px 0px;
}

#title_list {
  margin: 48px 0px;
}

#title {
  margin: 2px 0px;
}


#list .card_travel+.card_travel {
  margin-top: 48px
}

ul {
  padding: 0px 24px;
}

#final_text {
  text-align: center;
}

footer {
  color: black;
  text-align: center;
  padding-bottom: 48px;
}
ul li {
  font-weight: bold;
}
ul li::marker {
  color: #333333;
}

ul .li_historia {
  color: #0C51A7;
}

ul .li_casais {
  color: #E95E10;
}

ul .li_familia {
  color: #E5245E;
}

ul .li_orcamento {
  color:#591B98;
}